.git
playground
.venv
.vscode
.cache
data
build/*
!build/boxlite/
!build/boxlite/**
!build/microsandbox/
!build/microsandbox/**
vendor
node_modules
runtime/javascript/node_modules
runtime/agent-compose-runtime-sdk/node_modules
.pnpm-store
!assets/
!guest-images/
!guest-images/**
tmp
